In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [13]:
df = pd.read_csv('flats.csv')
df.sample(5)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
3018,1 BHK Flat in Palam Vihar,https://www.99acres.com/1-bhk-bedroom-apartmen...,Palam Vihar Society,40 Lac,"₹ 8,602/sq.ft.",Super Built up area 465(43.2 sq.m.)Built Up ar...,1 Bedroom,1 Bathroom,1 Balcony,NaN,"Cosmos Executive Appartments, Palam Vihar, Gur...",5th of 16 Floors,North,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","One of the best locations with malls, schools,...","['1 Water Purifier', '1 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Lift(s)', 'Park...","['Safety4 out of 5', 'Lifestyle5 out of 5', 'E...",W47302533
3004,4 BHK Flat in DLF Phase 4,https://www.99acres.com/4-bhk-bedroom-apartmen...,Chanderlok Society,90 Lac,"₹ 7,234/sq.ft.",Carpet area: 1244 (115.57 sq.m.),4 Bedrooms,2 Bathrooms,3+ Balconies,NaN,"DLF Phase 4, Gurgaon, Haryana",1st of 2 Floors,NaN,10+ Year Old,"['Iffco chowk metro station', 'Mg road metro s...",Walking distance from mg metro station and gal...,NaN,NaN,"['Safety5 out of 5', 'Lifestyle4 out of 5', 'E...",M56674250
2082,2 BHK Flat in Sohna,https://www.99acres.com/2-bhk-bedroom-apartmen...,Signature The Serenas,45 Lac,"₹ 8,474/sq.ft.",Carpet area: 531 (49.33 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"T-3 1002, Sohna, Gurgaon, Haryana",10th of 12 Floors,NaN,0 to 1 Year Old,"['Signature Global Infinity Mall', 'Sohna Road...",Good property good environment.\nAravali hill ...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Environment4 out of 5', 'Lifestyle4 out of 5...",H69931874
3021,3 BHK Flat in Sector 103 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Spire Woods Now Ananda by Alpha corp,1.25 Crore,"₹ 6,902/sq.ft.",Carpet area: 1811 (168.25 sq.m.),3 Bedrooms,4 Bathrooms,3 Balconies,"Study Room,Servant Room","Sector 103 Gurgaon, Gurgaon, Haryana",11st of 13 Floors,NaN,Under Construction,"['State bank ATM', 'Dr. Hitesh Dawar', 'Bhardw...",Spire woods now ananda by alpha corp in sector...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",B52179254
2847,2 BHK Flat in Sector 104 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Puri Emerald Bay3.7 ★,1.5 Crore,"₹ 9,678/sq.ft.",Super Built up area 1550(144 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Others,"Puri Emerald Bay, Sector 104 Gurgaon, Gurgaon,...",7th of 28 Floors,NaN,Under Construction,"['Sector-21 Metro Dwarka', 'Gurgaon Dreamz Mal...",Residential apartment for sell.Located on 7th ...,NaN,"['Intercom Facility', 'Lift(s)', 'Feng Shui / ...","['Management5 out of 5', 'Green Area5 out of 5...",Q21308628

In [17]:
df.shape

(3028, 20)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3028 entries, 0 to 3027
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3028 non-null   object
 1   link             3028 non-null   object
 2   society          3027 non-null   object
 3   price            3008 non-null   object
 4   area             3015 non-null   object
 5   areaWithType     3009 non-null   object
 6   bedRoom          3009 non-null   object
 7   bathroom         3009 non-null   object
 8   balcony          3009 non-null   object
 9   additionalRoom   1695 non-null   object
 10  address          3003 non-null   object
 11  floorNum         3007 non-null   object
 12  facing           2128 non-null   object
 13  agePossession    3008 non-null   object
 14  nearbyLocations  2914 non-null   object
 15  description      3009 non-null   object
 16  furnishDetails   2204 non-null   object
 17  features         2595 non-null   object
 18  rating           2677 non-null   object
 19  property_id      3009 non-null   object
dtypes: object(20)
memory usage: 473.3+ KB

In [25]:
df.duplicated().sum()

0

In [27]:
df.isnull().sum()

property_name         0
link                  0
society               1
price                20
area                 13
areaWithType         19
bedRoom              19
bathroom             19
balcony              19
additionalRoom     1333
address              25
floorNum             21
facing              900
agePossession        20
nearbyLocations     114
description          19
furnishDetails      824
features            433
rating              351
property_id          19
dtype: int64